/* Search bar */
.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
}

.actions .search-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.actions .search-bar>* {
  margin: 0 .4em .6em;
}

.actions #add-project {
  margin: auto .4em;
}


.search-bar>* {
  font-size: 1em;
}

.search-bar select {
  margin-left: 1em;
  color: var(--black);
}

.itens-list article p.dificuldade {
  display: inline-block;
	padding: .3em .6em;
	color: var(--white);
	font-weight: bold;
	border-radius: .5vmax;
}

.itens-list article p.easy {
  background-color: var(--light-green);
}

.itens-list article p.medium {
  background-color: var(--light-yellow);
  color: var(--black);
}

.itens-list article p.hard {
  background-color: var(--light-red);
}


p.categoria {
  display: inline-block;
	padding: .3em .6em;
	background-color: var(--grey);
	color: var(--white);
	font-weight: bold;
	border-radius: .5vmax;
}

.conteudo {
  margin: 2em 1em 0;
}
