main article {
	background-color: var(--light-grey);
	margin: 2em auto;
	padding: 1.5em 2.5em;
	width: 90%;
	border-radius: 1.5vmax;
}

main article.autor {
	border: 2px solid var(--principal-blue);
}

#posts {
	display: inline-block;
}

#posts a {
	color: inherit;
}

#posts article h3 {
	color: var(--principal-blue);
  display: inline;
  margin: 0 1em 0 0;
  vertical-align: middle;
}

#posts article p.categoria {
  display: inline-block;
  padding: .3em .6em;
  background-color: var(--grey);
	color: var(--white);
	font-weight: bold;
  border-radius: .5vmax;
}

#posts article .engajamento {
	display: inline;
	vertical-align: middle;
	font-size: 1.2em;
	float: right;
}

#posts article .engajamento span {
	margin-right: 1em;
}

#posts article .engajamento button {
  padding: 0;
  border: none;
  background: none;
  font-size: 1em;
}

#posts article .engajamento button:hover {
  cursor: pointer;
}

#posts article .engajamento .edit {
  color: var(--blue);
}

#posts article .engajamento .delete {
  color: var(--red);
}

#posts article .engajamento button i {
  margin-left: .5em;
}
