main article{
	background-color: var(--light-grey);
	margin: 2em auto;
	padding: 1.5em 2.5em;
	width: 90%;
	border-radius: 1.5vmax;
}

button#add-post {
	float: right;
	padding: 1em;
	border: none;
	border-radius: .5vmax;
	margin-top: 1.5em;
	background-color: var(--principal-blue);
	color: var(--white);
	font-weight: bold;
}

button#add-post:hover {
 	cursor: pointer;
}

#posts {
	display: inline-block;
}

#posts a {
	color: inherit;
}

#posts article h3 {
  display: inline;
  margin: 0 1em 0 0;
  vertical-align: middle;
}

#posts article p.categoria {
  display: inline-block;
  padding: .3em .6em;
  background-color: var(--grey);
	color: var(--white);
	font-weight: bold;
  border-radius: .5vmax;
}

#posts article .engajamento {
	display: inline;
	vertical-align: middle;
	font-size: 1.2em;
	float: right;
}

/* #posts span {
	float: right;
	background-color: var(--light-grey);
	padding: 5px 10px;
	border-radius: 1vmax;
} */
