section.info {
  margin: 2em 0 1em;
}

h2.titulo {
  display: inline-block;
  margin: 0 1em 0 0;
  vertical-align: middle;
}

p.categoria {
  display: inline-block;
  padding: .3em .6em;
  background-color: var(--light-grey);
  border-radius: .5vmax;
}

button#curtir {
  display: inline-block;
  font-size: 1.2em;
  padding: .3em .6em;
  border-radius: .5vmax;
  border: none;
  margin-left: 2em;
}

button#curtir:hover {
  cursor: pointer;
}

.autor {
  font-weight: bold;
}

section.conteudo {
  margin: 1em;
}

.secao-comentarios {
  padding: 1em;
}

#comentar {
  display: flex;
  align-items: center;
}

#comentar input{
  flex: 3;
  margin-right: .5em;
  vertical-align: middle;
  padding: .6em;
  border: 1px solid #333;
  border-radius: .5vmax;
  font-size: 1em;
}

#comentar button {
  flex: 1;
  margin: auto;
  padding: 1em;
	border: none;
	border-radius: .5vmax;
	background-color: var(--principal-blue);
	color: var(--white);
	font-weight: bold;
}

#comentar button:hover {
  cursor: pointer;
}

section.comentarios {
  margin: 1em 0;
}
