@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

:root {
  --principal-blue: #1372bf;
	--white: #f9f9f9;
	--light-grey: #cccccc;
	--grey: #858585;
	--black: #2C2C2C;
	--blue: #202088;
	--red: #882020;
	--light-blue: #88FFFF;
	--light-yellow: #FFFC5C;
	--light-red: #FF5544;
	--light-green: #55AA55;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--white);
	font-family: "Poppins", sans-serif;
}

h1 {
	margin-top: 20px;
	text-align: center;
}

h2 {
	display: block;
	margin: 1em auto 0.5em;
	font-size: 2em;
	text-align: start;
	max-width: 90%;
}

h3 {
	width: 100%;
	margin: 1em 0 .5em;
	font-size: 1.4em;
	color: var(--black);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

/* HEADER */
header {
	position: sticky;
	top: 0;
	width: 100%;
	padding: 1em 0;
	z-index: 1;
	background-color: var(--black);
}

.logo {
	display: inline-block;
	margin-left: 20px;
	color: var(--principal-blue);
	font-size: 1.5em;
  font-family: 'Bungee', sans-serif;
}

nav {
	position: fixed;
	width: 100%;
	height: 100%;
	max-height: 0;
	overflow: hidden;
	background-color: var(--black);
	transition: max-height .5s ease-out;
}

.menu a {
	display: block;
	padding: 10px 25px;
	color: var(--white);
}

nav ul {
	margin: 0 20px;
}

nav ul li{
	margin: 0 3px;
}

nav ul li:hover,
nav ul li.login {
	background: var(--principal-blue);
	transition: .5s linear;
}

.dropdown-content {
  display: none;
  position: fixed;
  min-width: 160px;
  z-index: 1;
  right: 0;
}

.dropdown-menu:hover .dropdown-content {
  display: flex;
	flex-direction: column;
}

.dropdown-content li {
	padding: .3em;
	background-color: var(--black);
}

.dropdown-content li a {
	color: var(--white);
}

.hamb {
	margin: 0 2em;
	padding: 20px 20px;
	float: right;
	cursor: pointer;
}

.hamb-line {
	display: block;
	position: relative;
	width: 24px;
	height: 3px;
	background: var(--white);
}

.hamb-line::before,
.hamb-line::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	background: var(--white);
	transition: all .2s ease-out;
}

.hamb-line::before {
	top: 7px;
}

.hamb-line::after {
	top: -7px;
}

.side-menu {
	display: none;
}

.side-menu:checked ~ nav {
	max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
	background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
	top:0;
	transform: rotate(-45deg);
}

.side-menu:checked ~ .hamb .hamb-line::after {
	top:0;
	transform: rotate(45deg);
}

@media (min-width: 768px) {
	nav {
		position: relative;
		width: fit-content;
		max-height: none;
		top: 0;
		float: right;
		background-color: transparent;
	}

	.menu li {
		float: left;
	}

	.hamb {
		display: none;
	}
}

/* MAIN CONTENT */
main {
	width: 800px;
	max-width: 100%;
	min-height: 60vh;
	margin: auto;
	padding: 0 1em;
}

button.add-item {
	float: right;
	padding: 1em;
	border: none;
	border-radius: .5vmax;
	margin-top: 1.5em;
	background-color: var(--principal-blue);
	color: var(--white);
	font-weight: bold;
}

button.add-item:hover {
	 cursor: pointer;
}

/* ARTICLE LISTS */
.itens-list {
	width: 100%;
	display: inline-block;
}

.itens-list article {
	background-color: var(--light-grey);
	margin: 2em auto;
	padding: 1.5em 2.5em;
	width: 90%;
	border-radius: 1.5vmax;
}

.itens-list article.autor {
	border: 2px solid var(--principal-blue);
}

.itens-list article h3 {
	color: var(--principal-blue);
  display: inline;
  margin: 0 1em 0 0;
  vertical-align: middle;
}

.itens-list article .handle-item {
	float: right;
	vertical-align: middle;
	font-size: 1.2em;
}

.itens-list article .handle-item button {
	padding: 0;
	border: none;
	background: none;
	font-size: 1em;
}

.itens-list article .handle-item button:hover {
	cursor: pointer;
}

.itens-list article .handle-item button i {
	margin-left: .5em;
}

.itens-list article .handle-item button.edit {
	color: var(--blue);
}

.itens-list article .handle-item button.delete {
	color: var(--red);
}

.itens-list article p.categoria {
	display: inline-block;
	padding: .3em .6em;
	background-color: var(--grey);
	color: var(--white);
	font-weight: bold;
	border-radius: .5vmax;
}


/* FOOTER */
footer {
	display: grid;
	grid-template-columns: 4fr 3fr;
	min-height: 10vh;
	margin-top: 3em;
	padding: 1em 4em 3em;
	background-color: var(--black);
	color: var(--light-grey);
}

footer section {
	display: flex;
	width: 100%;
	min-height: 15em;
	padding: 0 2em;
	flex-direction: column;
}

footer section p {
	margin-top: .5em;
	text-align: justify;
}

footer section li {
  list-style: none;
}

footer section li a {
  font-weight: bold;
  text-decoration: underline;
  color: inherit;
}

@media screen and (max-width: 1024px) {
	footer {
		padding: 1em;
	}
}

@media screen and (max-width: 768px) {
	footer {
		grid-template-columns: 1fr;
		padding: 0;
	}
}

/* OTHERS */

form .input-field {
  display: flex;
  flex-direction: column;
}

form .input-field label {
	font-size: 1.1em;
	margin-top: 1em;
}

input,
textarea,
select {
	outline: none;
	border: 1px solid var(--grey);
	border-radius: .5vmax;
	padding: 0.5em;
	font-size: 1.3em;
}

input:focus,
textarea:focus,
select:focus {
	border: 2px solid var(--principal-blue);
}

form .input-field input,
form .input-field textarea,
form .input-field select {
	max-width: 100%;
	min-width: 100%;
	margin-top: 0.5em;
}

form button {
	width: 100%;
	padding: 1em;
	border: none;
	border-radius: .5vmax;
	margin-top: 1.5em;
	background-color: var(--principal-blue);
	color: var(--white);
	font-weight: bold;
}

form button:hover {
	cursor: pointer;
	background-color: var(--grey);
}
