.modal-overlay {
	display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
}

.modal-content {
	position: relative;
	width: 400px;
	height: 400px;
	max-width: 90%;
	background-color: #fefefe;
	margin: auto;
	padding: 1.5em;
	border: 1px solid #888;
	border-radius: .5vmax;
}

.modal-overlay #close-modal {
	position: absolute;
	right: -10px;
	top: -20px;
	z-index: 1;
	font-size: 2.5em;
}

.modal-overlay #close-modal i {
	border-radius: 50%;
	color: var(--light-red);
	background-color: var(--light-grey);
}

.modal-overlay #close-modal i:hover {
	background-color: var(--white);
	cursor: pointer;
}

.modal-content h3 {
	margin-top: 1.5em;
	text-align: center;
}

form .input-field {
  display: flex;
  flex-direction: column;
}

form .input-field label {
	font-size: 1.1em;
	margin-top: 1em;
}

form .input-field input {
	padding: 0.5em;
	border: 1px solid var(--grey);
	border-radius: 5px;
	margin-top: 0.5em;
	font-size: 1.1em;
}

form button {
	float: right;
	padding: 1em;
	border: none;
	border-radius: .5vmax;
	margin-top: 1.5em;
	background-color: var(--principal-blue);
	color: var(--white);
	font-weight: bold;
}

form button:hover {
	cursor: pointer;
	background-color: var(--grey);
}
